* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
address,
ul,
li,
article,
header,
hgroup,
section,
dl,
dd {
  margin: 0;
}

:root {
  --spacing-s: 0.75rem;
  --spacing: 1rem;
  --spacing-l: 1.5rem;
  --accent-color: #2175c8;
  --font-weight-s: 500;
  --font-weight: 600;
}

.small-padding {
  padding: var(--spacing-s);
}

.regular-block-padding {
  padding-block: var(--spacing-s);
}

.lighter-font-weight {
  font-weight: var(--font-weight-s);
  color: var(--accent-color);
}

.regular-font-weight {
  font-weight: var(--font-weight);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
}

strong {
  font-weight: 501;
}

ul {
  list-style: square;
  & li:not(:last-child) {
    padding-block-end: var(--spacing-s);
  }
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  color: var(--accent-color);
}

.print-container {
  max-width: 21cm;
  min-height: 29.7cm;
  padding: 10mm 0 10mm 0;
  margin-block: var(--spacing-l);
  margin-inline: auto;
  border: 1px solid black;
}

.print-container {
  display: grid;
  row-gap: var(--spacing);
  grid-template-rows: min-content;
  grid-template-columns:
    minmax(5mm, 15mm) [content-start] repeat(3, 1fr)
    [content-end] minmax(5mm, 15mm);
  > * {
    grid-column: content;
  }
}

@media print {
  .print-container {
    border: none;
    margin-block: none;
    padding: 0;
  }
}

header {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  row-gap: var(--spacing-s);
  > * {
    grid-row: span 3;
  }
  & .subgrid {
    display: grid;
    grid-template-rows: subgrid;
    align-items: center;
  }
}

.phone-number::before {
  content: "\260E";
  margin-right: 0.1rem;
}

.email::before {
  content: "\2709";
  margin-right: 0.1rem;
}

.heading {
  font-size: 1.18rem;
  letter-spacing: 0.5px;
}

.portrait {
  width: 100%;
  object-fit: contain;
}
.name-and-title {
  justify-items: center;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.tech-and-lang {
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--spacing-s);
  > dt {
    grid-column: span 1;
    color: hsla(0, 0%, 0%, 0.5);
  }
  > dd {
    grid-column: span 2;
  }
}

.place-and-date-item {
  display: grid;
  grid-column: -1 / 1;
  grid-template-columns: subgrid;
  align-items: center;
  padding-block: var(--spacing);
  padding-inline: var(--spacing-s);

  & .place {
    grid-column-start: 2;
  }

  & time {
    justify-self: end;
  }

  & > *:nth-child(2) {
    justify-self: center;
  }
}

.project {
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--spacing-s);
  margin-inline: calc(-1 * var(--spacing-s));
  & time {
    grid-column-start: 3;
    justify-self: end;
  }

  & p {
    grid-column: span 3;
  }
}

.others {
  display: grid;
  grid-template-columns: subgrid;
}

.alice-blue {
  background-color: aliceblue;
}

/* @media only screen and (max-width: 800px) {
  .print-container {
    grid-template-columns:
      minmax(5mm, 15mm) [content-start] max-content repeat(2, 1fr)
      [content-end] minmax(5mm, 15mm);
  }
}

@media only screen and (max-width: 600px) {
  .print-container {
    grid-template-columns:
      minmax(0.5rem, 2rem) [content-start] 1fr
      [content-end] minmax(0.5rem, 2rem);
  }
  header {
    gap: var(--spacing-s);
    justify-items: center;
  }
  .contact-info {
    order: 3;
  }
  .place-and-date-item {
    grid-column: content;
    & time {
      justify-self: initial;
    }

    & > *:nth-child(2) {
      justify-self: initial;
    }
  }
} */
